<% include ../partials/header %>

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="https://cms-assets.tutsplus.com/uploads/users/30/posts/25489/image/pac-404.png" alt="404 Not Found" class="not-found__image" />
                <h3 class="not-found__title">Không tìm thấy nội dung</h3>
                <p class="not-found__message">Rất tiếc, chúng tôi không tìm thấy nội dung mà bạn yêu cầu!</p>
                <a href="/" class="customed-btn">Trở về trang chủ</a>
            </div>
        </div>
    </div>
</main>

<% include ../partials/footer %>