<% include ../partials/header %>

<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 pr-3">
                    <h3 class="section__header mb-3"><a href="/moi-nhat">Các bài viết nổi bật</a></h3>
                    <section class="category-timeline-posts">
                        <article class="category-timeline-post clearfix">
                            <a href="" title="ABC"><img src="http://kenh14cdn.com/thumb_w/300/2019/4/11/a1-15549597519561545954099-crop-1554959774746548769804.jpg" class="category-timeline-post__thumbnail" alt="ABC" /></a>
                            <div class="category-timeline-post__details">
                                <span class="category-timeline-post__category"><a href="#">Ẩm thực</a></span>
                                <h3 class="category-timeline-post__title"><a href="#">Gợi ý "phá đảo" phim Netflix cho 12 cung hoàng đạo, đảm bảo sẽ mê!</a></h3>
                                <p class="category-timeline-post__meta">
                                    <span class="category-timeline-post__posted-time"><i class="far fa-clock"></i>&nbsp;&nbsp;12 giờ trước</span>
                                    <span class="category-timeline-post__views"><i class="far fa-eye"></i>&nbsp;&nbsp;1230 lượt xem</span>
                                </p>
                                <p class="category-timeline-post__summary">Cung hoàng đạo thể hiện rất nhiều tính cách của mỗi người, và cả sở thích xem phim trên Netflix nữa nhé!</p>
                            </div>
                        </article>

                        <article class="category-timeline-post clearfix">
                            <a href="#" title="ABC"><img src="http://kenh14cdn.com/thumb_w/300/2019/4/11/a1-15549597519561545954099-crop-1554959774746548769804.jpg" class="category-timeline-post__thumbnail" alt="ABC" /></a>
                            <div class="category-timeline-post__details">
                                <span class="category-timeline-post__category"><a href="#">Ẩm thực</a></span>
                                <h3 class="category-timeline-post__title"><a href="#">Gợi ý "phá đảo" phim Netflix cho 12 cung hoàng đạo, đảm bảo sẽ mê!</a></h3>
                                <p class="category-timeline-post__meta">
                                    <span class="category-timeline-post__posted-time"><i class="far fa-clock"></i>&nbsp;&nbsp;12 giờ trước</span>
                                    <span class="category-timeline-post__views"><i class="far fa-eye"></i>&nbsp;&nbsp;1230 lượt xem</span>
                                </p>
                                <p class="category-timeline-post__summary">Cung hoàng đạo thể hiện rất nhiều tính cách của mỗi người, và cả sở thích xem phim trên Netflix nữa nhé!</p>
                            </div>
                        </article>
                    </section>

                    <div class="text-center">
                        <button class="customed-btn">Bấm để xem thêm <i class="fas fa-chevron-circle-down"></i></button>
                    </div>
                </div>

                <div class="col-md-4">
                    <section class="category-concerned-posts">
                        <h3 class="section__header mb-3"><a href="/noi-bat">Các bài viết mới nhất</a></h3>

                        <article class="category-concerned-post clearfix">
                            <a href="ABC" title="ABC"><img src="http://kenh14cdn.com/thumb_w/300/2019/4/11/a1-15549597519561545954099-crop-1554959774746548769804.jpg" class="category-concerned-post__thumbnail" /></a>
                            <div class="category-concerned-post__details">
                                <h3 class="category-concerned-post__title"><a href="#">Gợi ý "phá đảo" phim Netflix cho 12 cung hoàng đạo, đảm bảo sẽ mê!</a></h3>
                                <p class="category-concerned-post__meta">
                                    <span class="category-concerned-post__posted-time"><i class="far fa-clock"></i>&nbsp;&nbsp;12 giờ trước</span>
                                    <span class="category-concerned-post__views"><i class="far fa-eye"></i>&nbsp;&nbsp;1230 lượt xem</span>
                                </p>
                            </div>
                        </article>
                        <article class="category-concerned-post clearfix">
                            <a href="ABC" title="ABC"><img src="http://kenh14cdn.com/thumb_w/300/2019/4/11/a1-15549597519561545954099-crop-1554959774746548769804.jpg" class="category-concerned-post__thumbnail" /></a>
                            <div class="category-concerned-post__details">
                                <h3 class="category-concerned-post__title"><a href="#">Gợi ý "phá đảo" phim Netflix cho 12 cung hoàng đạo, đảm bảo sẽ mê!</a></h3>
                                <p class="category-concerned-post__meta">
                                    <span class="category-concerned-post__posted-time"><i class="far fa-clock"></i>&nbsp;&nbsp;12 giờ trước</span>
                                    <span class="category-concerned-post__views"><i class="far fa-eye"></i>&nbsp;&nbsp;1230 lượt xem</span>
                                </p>
                            </div>
                        </article>
                    </section>

                    <section class="category-concerned-posts mt-4">
                        <h3 class="section__header mb-3"><a href="/doc-nhieu">Các bài viết được đọc nhiều</a></h3>

                        <article class="category-concerned-post clearfix">
                            <a href="ABC" title="ABC"><img src="http://kenh14cdn.com/thumb_w/300/2019/4/11/a1-15549597519561545954099-crop-1554959774746548769804.jpg" class="category-concerned-post__thumbnail" /></a>
                            <div class="category-concerned-post__details">
                                <h3 class="category-concerned-post__title"><a href="#">Gợi ý "phá đảo" phim Netflix cho 12 cung hoàng đạo, đảm bảo sẽ mê!</a></h3>
                                <p class="category-concerned-post__meta">
                                    <span class="category-concerned-post__posted-time"><i class="far fa-clock"></i>&nbsp;&nbsp;12 giờ trước</span>
                                    <span class="category-concerned-post__views"><i class="far fa-eye"></i>&nbsp;&nbsp;1230 lượt xem</span>
                                </p>
                            </div>
                        </article>
                        <article class="category-concerned-post clearfix">
                            <a href="ABC" title="ABC"><img src="http://kenh14cdn.com/thumb_w/300/2019/4/11/a1-15549597519561545954099-crop-1554959774746548769804.jpg" class="category-concerned-post__thumbnail" /></a>
                            <div class="category-concerned-post__details">
                                <h3 class="category-concerned-post__title"><a href="#">Gợi ý "phá đảo" phim Netflix cho 12 cung hoàng đạo, đảm bảo sẽ mê!</a></h3>
                                <p class="category-concerned-post__meta">
                                    <span class="category-concerned-post__posted-time"><i class="far fa-clock"></i>&nbsp;&nbsp;12 giờ trước</span>
                                    <span class="category-concerned-post__views"><i class="far fa-eye"></i>&nbsp;&nbsp;1230 lượt xem</span>
                                </p>
                            </div>
                        </article>
                    </section>
                </div>
            </div>
        </div>
    </section>
</main>

<% include ../partials/footer %>