<% include ../../partials/auth-header %>

<main class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form action="/tai-khoan/dang-nhap" method="post">
                    <header class="text-center">
                        <h3 class="form-title">Đăng nhập</h3>
                        <!-- <p class="form-description">Đăng nhập ngay để có thể sử dụng nhiều chức năng thú vị của LoveHue</p> -->
                        <p class="form-description">Đăng nhập vào bảng điều khiển dành cho quản trị viên website</p>

                        <% include messages %>
                    </header>

                    <div class="form-group">
                        <label>Địa chỉ email</label>
                        <input class="form-control" type="text" placeholder="Nhập địa chỉ email của bạn" name="email" required />
                    </div>

                    <div class="form-group">
                        <label>Mật khẩu</label>
                        <input class="form-control" type="password" placeholder="Nhập mật khẩu của bạn" name="password" required />
                    </div>

                    <div>
                        <button class="btn btn-block" type="submit">Đăng nhập</button>
                    </div>
                </form>

                <!-- <div class="messages text-center">
                    <p>Bạn chưa có tài khoản? <a href="/tai-khoan/dang-ky">Đăng ký</a> ngay</p>
                    <p><a href="/tai-khoan/quen-mat-khau">Quên mật khẩu?</a></p>
                </div> -->
            </div>
        </div>
    </div>
</main>

<% include ../../partials/auth-footer %>