<div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-labelledby="showModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="showModalLongTitle">Xem thông tin về bài viết</h5>
                <button id="showModalCloseButton" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body">
                <form enctype="multipart/form-data" action="/bang-dieu-khien/bai-viet" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Ảnh đại diện</label>
                                        <div class="image-preview">
                                            <img id="showModalThumbnailImage" class="image-uploader__image" src="/images/image-not-found.jpg" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Tiêu đề (*)</label>
                                        <input id="showModalTitle" class="form-control" type="text" placeholder="Nhập tiêu đề của bài viết" name="title" disabled />
                                        <div class="invalid-feedback"></div>
                                    </div>
                                </div>
                            
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>SEO slug (*)</label>
                                        <input id="showModalSeoSlug" class="form-control" type="text" placeholder="Nhập SEO slug của bài viết" name="seo_slug" disabled />
                                        <div class="invalid-feedback"></div>
                                    </div>
                                </div>
                            
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Tóm tắt nội dung</label>
                                        <textarea id="showModalSummary" class="form-control" name="description" placeholder="Nhập tóm tắt nội dung của bài viết" disabled></textarea>
                                    </div>
                                </div>
                            
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Chuyên mục bài viết</label>
                                        <select id="showModalPostCategory" class="form-control" name="post_category" disabled>
                                        </select>
                                    </div>
                                </div>
                            
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Trạng thái</label>
                                        <select id="showModalIsActive" class="form-control" name="is_active" disabled>
                                            <option value="0">Chưa hiển thị</option>
                                            <option value="1">Đã hiển thị</option>
                                        </select>
                                    </div>
                                </div>
                            
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Thẻ (Nếu có nhiều thẻ, ngăn cách với nhau bằng dấu phẩy)</label>
                                        <input id="showModalTags" class="form-control" type="text" placeholder="Các thẻ của bài viết" name="tags" disabled />
                                        <div class="invalid-feedback"></div>
                                    </div>
                                </div>
                            
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nguồn bài viết</label>
                                        <input id="showModalSource" class="form-control" type="text" placeholder="Nguồn trích dẫn của bài viết (nếu có)" name="source" disabled />
                                        <div class="invalid-feedback"></div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Loại bài viết</label>
                                        <select id="showModalIsHot" class="form-control" name="is_hot" disabled>
                                            <option value="0">Không nổi bật</option>
                                            <option value="1">Nổi bật</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Ngày tạo</label>
                                        <input id="showModalCreatedAt" class="form-control" type="text" placeholder="Ngày tạo của lợi ích" disabled />
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Ngày cập nhật</label>
                                            <input id="showModalUpdatedAt" class="form-control" type="text" placeholder="Ngày cập nhật của lợi ích" disabled />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <input type="hidden" name="author" value="<%= user['_id'] %>" />

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nội dung bài viết</label>
                                <textarea id="showModalContent" name="content" class="editor" name="content" disabled></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="text-right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: 6px;">Đóng</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>