<!DOCTYPE html>
<html lang="vi">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    
    <!-- Slick -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <!-- Animate.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    
    <!-- Customed CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    
    <title><%= typeof page_title !== 'undefined' ? page_title : 'LoveHue - Mang Huế đến với mọi người'  %></title>
  </head>

  <body class="main-auth-body">
    <header class="main-auth-header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/"><i class="fas fa-arrow-left"></i> Trở về</a>
              </li>
            </ul>

            <!-- <ul class="navbar-nav ml-auto">
              <li class="nav-item <%= typeof active_menu_item !== 'undefined' && active_menu_item === 'login' ? 'active' : '' %>">
                <a class="nav-link" href="/tai-khoan/dang-nhap">Đăng nhập</a>
              </li>

              <li class="nav-item <%= typeof active_menu_item !== 'undefined' && active_menu_item === 'register' ? 'active' : '' %>">
                <a class="nav-link" href="/tai-khoan/dang-ky">Đăng ký</a>
              </li>
            </ul> -->
          </div>
        </div>
      </nav>
    </header>